html {
    scroll-behavior: smooth;
}

.hero {
    background: url('../images/hero-image.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

#about, #contact, #projects, #team {
    padding: 100px 0;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
}
